<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963157051833-ho4i4r2frmlsat63dk0s9mqvjectpku3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963157051833-ho4i4r2frmlsat63dk0s9mqvjectpku3</string>
	<key>API_KEY</key>
	<string>AIzaSyCNSZEu3adyP6bxiTYuOlA_Ql3twqADJVk</string>
	<key>GCM_SENDER_ID</key>
	<string>963157051833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Note</string>
	<key>PROJECT_ID</key>
	<string>note-firebase-6366d</string>
	<key>STORAGE_BUCKET</key>
	<string>note-firebase-6366d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963157051833:ios:effd80b8ce2410d7d4ce68</string>
</dict>
</plist>